<!-- @defer {
<my-product></my-product>
} @placeholder {
    <h1>Loading product...</h1>
}-->

<h1>Angular Templates</h1>

<a [href]="web" [class.exist]="redirect" target="_blank">Visit my web page</a>

<h2>Flow control structures</h2>

@if (redirect==true){
<p>The link {{web}} is active</p>
} @else {
<p>The link {{web}} is not active</p>
}

<button (click)="changeRedirect()">Modify Link</button>

<h3>Car Brands</h3>
<ul>
    @for(brands of carBrands; track brands.id;
    let i = $index, counter = $count,
    pair = $even, odd = $odd){
    <li>{{brands.name}} {{i}} {{counter}} {{pair}} {{odd}}</li>
    } @empty {
    <li>No car brands available</li>
    }
</ul>

<!--
@if (user.role == 'admin') {
    <app-sales></app-sales>
}
-->

@switch (user.role) {
@case('admin') {
<app-sales></app-sales>
}
@case('user') {
<p>You are a regular user.</p>
}
@default {
<p>You are a guest.</p>
}
}

<h3>More tools about Angular Templates</h3>

<ng-container>
    <h4>This is in a Angular Container</h4>
</ng-container>

@let country = "USA" +(7+7);

@let hello = "Hello from " + country;

<p>{{hello}}</p>

<h2>Angular Libraries</h2> 

{{web | lowercase}}

<br>

{{date | date:'fullDate'}}

<br>

{{"They Killed Kenny!" | changeLetter}}