<!--<h1>My Profile</h1>
<p>My name is {{ name }}</p>
<p>Age: {{ age }}</p>
<button (click)="changeAge()">Change Age</button>
<p>Location: {{ location }}</p>
<button (click)="changeLocation()">Change Location</button>
<p>Occupation: {{ occupation }}</p>
<p>Phone: {{ phone }}</p>
<a href="https://github.com/Martina350">My GitHub</a>

<br>
<br>
@if (showAccount==true){
    <button (click)="hideAccount(false)">Hide Account Component</button>
} @else {
    <button (click)="hideAccount(true)">Show Account Component</button>
}
@if (showAccount==true){
  <app-account></app-account>
}

{{ showAccount }}

<br>
<br> -->

<app-account [nameClient]="nameClient"></app-account>

<app-transactions (messageSent)="onMessageReceived($event)"></app-transactions>
