<hr />
<h1>{{ title }}</h1>
<p>
  Choose a color:
  <input type="color" [(ngModel)]="favoriteColor" />
</p>

<ol>
  @for (movie of moviesExample; track movie.id; let index = $index) {
    <li> 
      
        <h2>{{ movie.title }}</h2>  
        <p>Director: {{ movie.director }}</p>
        <p>Genre: {{ movie.genre }}</p>
        <p>Year: {{ movie.releaseYear }}</p>
        <span [ngStyle]="{ 'background-color': favoriteColor }">
          Platform: {{ movie.platform }}
        </span>
        <button (click)="removeMovie(index)">Remove</button>
    </li>
  }
</ol>

<h1>Form and two-way binding</h1>
<input type="text" [(ngModel)]="myMovieTitle" placeholder="Enter movie title" 
(focus)="onFocus()" 
(blur)="leftFocus()"
(keyup)="onKeyUp($event)"
/>

<button (click)="showMovieTitle()">Show Movie</button>

<button (click)="addNewMovie()">Add New Movie</button>

<p>My favorite movie is: <strong>{{ myMovieTitle }}</strong></p>

<h2>List of Movies</h2>
<ul>
  @for (movie of moviesWithoutData; track movie) {
    <li>{{ movie }}</li>
  }
</ul>
