<h2>Transaction</h2>
@for (transaction of transactionsList; track transaction.id) {
  <div>
    <p><strong>Date:</strong> {{ transaction.date | date:'dd/MM/yyyy' }}</p>
    <p><strong>Description:</strong> {{ transaction.description }}</p>
    <p><strong>Amount:</strong> ${{ transaction.amount }}</p>
    <p><strong>Type:</strong> <span [ngClass]="transaction.type === 'income' ? 'income' : 'expense'">{{ transaction.type }}</span></p>
  </div>
}

<h2>Transaction Description</h2>
<input type="text" [(ngModel)]="descriptionTransaction" placeholder="Enter transaction description" />
<button (click)="showTransactionDescription()">Show Description</button>
<p>My transaction description is: <strong>{{ descriptionTransaction }}</strong></p>
