<!--<h1>Angular Templates Excersice</h1>

<a [href]="web" [class.active]="redirect" [ngStyle]="{
    'font-size': redirect ? '24px' : '14px'
  }" target="_blank">
  Visit my web page
</a>


@if (redirect==true){
<p>The link {{web | lowercase}} works correctly!!</p>
} @else {
<p>Sorry, the link {{web | uppercase}} is unavailable.</p>
}

<button (click)="changeRedirect()">Modify Link</button> -->

<h3>Loans List</h3>
<ol>
  @for(loan of loansList; track loan.id; let index = $index){
  <li>
    Loan ID: {{loan.id}} - Amount: {{loan.amount | currency}} -
    Status:
    @if (loan.state == 'approved') {
    <span style="color:green">{{loan.state | uppercase}}</span>
    } @else {
    <span style="color:red">{{loan.state | uppercase}}</span>
    }
    - Date: {{loansDate | date:'dd/MM/yyyy HH:mm'}}
    <button (click)="removeLoan(index)">Remove</button>
  </li>
  } @empty {
  <li>No loans available</li>
  }
  
</ol>

<h1>Add a Loan</h1>
<input type="text" [(ngModel)]="myLoan" placeholder="Enter loan" />
<button (click)="addNewLoan()">Add New Loan</button>

@switch (loans.type) {
    @case('personal') {
        <p>This is a personal loan.</p> 
    } 
    @case('hipotecary') {
        <app-transactions></app-transactions>
    }
    @case('vehicle') {
        <p>This is a vehicle loan.</p>
    }
  }