.painted {
  background-color: lightblue;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.noPainted {
  background-color: lightgray;
  padding: 6px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.hello {
  background-color: green;
  padding: 6px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.activeLink {
  background-color: aquamarine;
  color: black;
}